@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --cyan-600: #4d96a9;
  --cyan-300: #8fe3f9;
  --purple-600: #855fb1;
  --purple-300: #d9b8ff;
  --slate-900: #28283d;
  --slate-600: #87879d;
  --slate-300: #d1d1df;
  --white: #fafafa;

  --mobile-width: 23.4375rem;
  --tablet-width: 48rem;
  --desktop-width: 90rem;
}
* {
  padding: 0;
  margin: 0;
  font-family: 'Red Hat Display', 'Lucida Sans', 'Lucida Sans Regular',
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  background-color: var(--slate-600);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text-preset-1 {
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 110%;
  letter-spacing: 0;
}

.text-preset-2 {
  font-size: 2rem;
  font-weight: 900;
  line-height: 110%;
  letter-spacing: 0;
}

.text-preset-3 {
  font-size: 0.75rem;
  font-weight: 900;
  color: var(--cyan-600);
  line-height: 110%;
  letter-spacing: 0.25rem;
}

.text-preset-4 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0;
  color: var(--slate-600);
}

.text-preset-5 {
  font-size: 1rem;
  font-weight: 900;
  line-height: 150%;
  letter-spacing: 0;
}
.center-canvas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.centered-canvas {
  width: var(--mobile-width);
  background-color: var(--white);
}

.logo {
  padding: 3rem 0.5rem 0 0.5rem;
  width: 7.375rem;
  height: 1.75rem;
  margin-block-start: 2rem;
}

.hero {
  margin: 3rem 2.1875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__image {
  background-image: url(./assets/tablet/image-hero.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 10rem;
  width: 100%;
  margin-block-start: 4rem;
  margin-block-end: 3rem;
}

.hero__image-left {
  display: none;
}
.hero__image-right {
  display: none;
}
.white {
  color: var(--white);
}

.cyan-300 {
  color: var(--cyan-300);
}

.hero__title {
  margin-block-end: 1.5rem;
  width: 18rem;
}

.hero__text {
  margin-block-end: 1.5rem;
}

.hero__download-button {
  width: 12.0625rem;
  background-color: var(--cyan-600);
  margin-inline: 1rem;
  margin-block-end: 1rem;
  border: 1rem solid var(--cyan-600);
  border-radius: 999px;
  cursor: pointer;
}

.hero__whatis-button {
  width: 10.0625rem;
  margin-inline: 1rem;
  margin-block-end: 1rem;
  background-color: var(--purple-600);
  border: 1rem solid var(--purple-600);
  border-radius: 999px;
  cursor: pointer;
}
.hero__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-container {
  display: flex;
  justify-content: center;
}

.page-container-item {
  width: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-container__line {
  height: 5rem;
  width: 0.0625rem;
  background-color: var(--slate-300);
}

.page-container__sphere {
  font-size: 1rem;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  background-color: var(--white);
  border: 0.0625rem solid var(--slate-300);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sphere__text {
  color: var(--slate-600);
}

.usecases {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.users {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-block-start: 4rem;
}

.users img {
  border-radius: 5%;
  height: 9rem;
  width: 9rem;
}

.users__text {
  margin-inline: 2rem;
  margin-block: 4rem;
}
.users__text__roof {
  margin-block-end: 1rem;
}
.users__text__title {
  color: var(--slate-900);
  font-size: 2rem;
  margin-block-end: 2rem;
}
.users_text__text {
  font-size: 1rem;
}

.page-container-footer {
  margin-block-end: -2rem;
}
.footer__text {
  background: url(./assets/mobile/footer-mobile.png) no-repeat;
  background-color: var(--cyan-600);
  background-blend-mode: soft-light;
  background-size: 100%;
  background-position: center;
  background-position: top;
  height: auto;
}

.footer__overlay {
  background-color: rgba(77, 150, 169, 0.7);
  padding-inline: 2rem;
  padding-block: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__text__title {
  color: var(--white);
}

.footer__text__text {
  color: var(--white);
  margin-block-start: 1.5rem;
}
footer {
  height: 23.375rem;
}

.footer__download-button {
  width: 12.0625rem;
  background-color: var(--purple-600);
  margin-inline: 1rem;
  margin-block-start: 1.5rem;
  margin-block-end: 1rem;
  border: 1rem solid var(--purple-600);
  border-radius: 999px;
  cursor: pointer;
}

.purple-300 {
  color: var(--purple-300);
}

@media screen and (min-width: 48rem) {
  .text-preset-1 {
    font-size: 3rem;
  }
  .text-preset-2 {
    font-size: 2.25rem;
  }
  .text-preset-3 {
    font-size: 0.875rem;
  }
  .text-preset-4 {
    font-size: 1rem;
  }

  .centered-canvas {
    width: var(--tablet-width);
  }
  .hero {
    width: 27rem;
  }
  .hero__image {
    height: 18.9375rem;
  }
  .hero__title {
    width: 20rem;
  }
  .buttons {
    flex-direction: row;
  }
  .usecases {
    width: 42.5rem;
  }
  .users {
    width: 42.5rem;
  }
  .users__text {
    width: 31.5rem;
  }
  .users__text__title {
    margin: 1rem;
  }

  .footer__text {
    background: url(./assets/desktop/image-footer.jpg) no-repeat;
    background-color: var(--cyan-600);
    background-blend-mode: soft-light;
    background-size: cover;
    background-position: center;
    background-position: top;
  }

  .footer__text__text {
    width: 31.5rem;
  }
}

@media screen and (min-width: 90rem) {
  .text-preset-1 {
    font-size: 4rem;
  }
  .text-preset-2 {
    font-size: 2.5rem;
  }
  .text-preset-3 {
    font-size: 1rem;
  }
  .text-preset-4 {
    font-size: 1.125rem;
  }
  .centered-canvas {
    width: 100%;
    justify-content: center;
  }

  .logo {
    margin-block-end: 3rem;
  }

  .hero {
    width: 28rem;
  }
  .hero__image {
    display: none;
  }
  .hero {
    margin: 3rem 2.1875rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    width: auto;
  }

  .hil {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    background-position: center;
    transform: translateX(-20%);
  }

  .hir {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    background-position: left;
    transform: translateX(+20%);
  }

  .hero__image-left {
    display: inline;
  }
  .hero__image-right {
    display: inline;
  }
  .hero__title {
    width: 28rem;
    margin-block-end: 2.5rem;
  }
  .hero__text {
    width: 28rem;
  }
  .buttons {
    flex-direction: row;
    margin-block-end: 6rem;
  }
  .usecases {
    width: 42.5rem;
  }
  .users {
    margin-block-start: 6rem;
    width: 70rem;
  }
  .users img {
    border-radius: 5%;
    height: 16rem;
    width: 16rem;
  }

  .users__text {
    width: 32.5rem;
  }
  .users__text__title {
    margin: 1rem;
    width: 28rem;
  }

  footer {
    width: auto;
  }
  .footer__overlay {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    width: auto;
    height: 11.25rem;
    padding-block-start: 2rem;
  }
  .footer__text {
    background: url(./assets/desktop/image-footer.jpg) no-repeat;
    background-color: var(--cyan-600);
    background-blend-mode: soft-light;
    background-size: cover;
    background-position: center;
    background-position: top;
  }
  .footer__text__title,
  .footer__text__text {
    text-align: left;
    width: 22rem;
  }

  .footer__text__title,
  .footer__text__text,
  .footer__download-button {
    margin: 3rem;
  }
}
