@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --cyan-600: #4d96a9;
  --cyan-300: #8fe3f9;
  --purple-600: #855fb1;
  --purple-300: #d9b8ff;
  --slate-900: #28283d;
  --slate-600: #87879d;
  --slate-300: #d1d1df;
  --white: #fafafa;

  --mobile-width: 23.4375rem;
}
* {
  padding: 0;
  margin: 0;
  font-family: 'Red Hat Display', 'Lucida Sans', 'Lucida Sans Regular',
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  background-color: var(--slate-600);
}
.text-preset-1 {
  font-size: 4rem;
  font-weight: 900;
  line-height: 110%;
  letter-spacing: 0;
}

.text-preset-2 {
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 110%;
  letter-spacing: 0;
}

.text-preset-3 {
  font-size: 1rem;
  font-weight: 900;
  color: var(--cyan-600);
  line-height: 110%;
  letter-spacing: 0.25rem;
}

.text-preset-4 {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0;
  color: var(--slate-600);
}

.text-preset-5 {
  font-size: 1rem;
  font-weight: 900;
  line-height: 150%;
  letter-spacing: 0;
}
.center-canvas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.centered-canvas {
  width: var(--mobile-width);

  background-color: var(--white);
}

.logo {
  padding: 3rem 0.5rem 0 0.5rem;
  width: 7.375rem;
  height: 1.75rem;
}

.hero {
  margin: 3rem 2.1875rem;
}

.hero__image {
  background-image: url(./assets/tablet/image-hero.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 10rem;
  width: 100%;
  margin-block-start: 4rem;
  margin-block-end: 3rem;
}

.white {
  color: var(--white);
}

.cyan-300 {
  color: var(--cyan-300);
}

.hero__title {
  margin-block-end: 1.5rem;
}

.hero__text {
  margin-block-end: 1.5rem;
}

.hero__download-button {
  width: 12.0625rem;
  background-color: var(--cyan-600);
  margin-inline: 1rem;
  margin-block-end: 1rem;
  border: 1rem solid var(--cyan-600);
  border-radius: 999px;
  cursor: pointer;
}

.hero__whatis-button {
  width: 10.0625rem;
  background-color: var(--purple-600);
  border: 1rem solid var(--purple-600);
  border-radius: 999px;
  cursor: pointer;
}
@media screen and (max-width: 40rem) {
  .text-preset-1 {
    font-size: 2.5rem;
    padding-inline: 1rem;
  }
  .text-preset-4 {
    font-size: 1rem;
    line-height: 150%;
  }
}
